.navbar {
    background-color: #000 !important;
}

.navbar .nav-link {
    color: #fff !important;
}

.nav-link.active {
    border-bottom: 2px solid #ff7f00;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: #f39c12 !important; /* kuning/oranye */
}

.navbar-brand {
    color: #fff !important;
    font-weight: bold;
}

.text-orange {
    color: #ff7f00 !important; /* oranye */
}

.tagline-section h5 {
  font-size: 1.2rem;
}

.tagline-section p {
  font-size: 0.95rem;
  line-height: 1.5;
}

.wa-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.whatsapp-float {
  width: 60px;
  height: 60px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.whatsapp-float:hover {
  transform: scale(1.15); /* Membesar sedikit tanpa merusak bentuk */
}


.wa-chat-box {
  display: none;
  position: absolute;
  bottom: 70px;
  right: 0;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}



/* Grid layanan lainnya */
.text-primary:hover {
    text-decoration: underline;
    color: #0a58ca !important;
}

.service-box {
  transition: all 0.2s ease-in-out;
}

.service-box:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

.footer {
    background-color: #333;
    color: white;
    padding: 15px 0;
}



.text-body {
    color: orange !important;
}
