.navbar {
    background-color: #000 !important;
}

.navbar .nav-link {
    color: #fff !important;
}

.nav-link.active {
    border-bottom: 2px solid #ff7f00;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: #f39c12 !important; /* kuning/oranye */
}

.navbar-brand {
    color: #fff !important;
    font-weight: bold;
}

.text-orange {
    color: #ff7f00 !important; /* oranye */
}

.whatsapp-float {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    color: white;
    text-decoration: none;
}

/* Grid layanan lainnya */
.text-primary:hover {
    text-decoration: underline;
    color: #0a58ca !important;
}

.service-box {
  transition: all 0.2s ease-in-out;
}

.service-box:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

.footer {
    background-color: #333;
    color: white;
    padding: 15px 0;
}



.text-body {
    color: orange !important;
}
